{
  "semi": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "endOfLine": "crlf",
  "arrowParens": "avoid"
}
